<!DOCTYPE html>
<html lang='en'>
  <style>
    @font-face {
      font-family: 'Open Sans';
      src: url(../fonts/OpenSans.woff2) format('woff2');
    }


    h1 {font-weight:700; text-align:center; color:rgb(55, 143, 146)}
    img {max-width:100%;height:auto; margin:auto; position:fixed; bottom:0; left:0;right:0;}
    body {font-family: 'Open Sans', sans-serif; font-weight:400}
  </style>

  <head>
    <link rel="preload" href="/fonts/OpenSans.woff2" as="font" type="font/woff2" crossorigin>
    <meta name="description" content="Data related to amateur radio." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  </head>

  <body>
    <title>Ham Radio Stuff</title>
    <h1>Ham Radio Stuff</h1>   
    <img width=615 height=418 src="https://www.hamqsl.com/solar101vhfpic.php" alt='Solar-Terrestrial Data' >

    <div><b>Most recent DX call from 
      <a href="http://dxlite.g7vjr.org/" rel="noopener" target="_blank">DXLite</a> (Since Page Load/Refresh):</b></div>
      
    <br>
    <div><b>Calling: </b><%=name%>  <a href="https://www.qrz.com/db/<%=name%>" rel="noopener" target="_blank">(Lookup on QRZ.COM)</a></div>
    <br>
    <div><b>Freq: </b><%=freq%> Khz</div>
    <br>
    <div><b>Dest: </b><%=dest%>  <a href="https://www.qrz.com/db/<%=dest%>" rel="noopener" target="_blank">(Lookup on QRZ.COM)</a></div>
    <br>
    <div><b>Time: </b><%=time%></div>
    <br>
    <button onclick="location.href='/'" type="button">Back to Index</button>

  </body>

</html>