<!DOCTYPE html>
<html lang='en'>
  
  <head>
    
    <meta charset='UTF-8' />
    <link rel="preload" href="/styles/ham.css" as="style" type="text/css">
    <link rel="stylesheet" href="/styles/ham.css">
    <meta name="description" content="Data related to amateur radio." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  </head>

  <body>
    <title>Ham Radio Stuff</title>

    <div id='header-image'>
      <div id='header-text'>
          <h1>Ham Radio</h1>
      </div>
  </div>

    <br>
    <a href="https://www.hamqsl.com/solar.html" title="Click to add Solar-Terrestrial Data to your website!">
      <img id=solar width=615 height=418 src='' alt="Solar-Terrestrial Data">
    </a>

    <script nonce="<%=nonce%>">
      document.getElementById("solar").src = "https://www.hamqsl.com/solar101vhfpic.php?" + performance.now()
    </script>

    <div><b>Most recent DX call from 
      <a href="http://dxlite.g7vjr.org/" rel="noopener" target="_blank">DXLite</a> (Since Page Load/Refresh):</b></div>
      
    <br>
    <div><b>Calling: </b><%=name%>  <a href="https://www.qrz.com/db/<%=name%>" rel="noopener" target="_blank">(Lookup on QRZ.COM)</a></div>
    <br>
    <div><b>Freq: </b><%=freq%> Khz</div>
    <br>
    <div><b>Dest: </b><%=dest%>  <a href="https://www.qrz.com/db/<%=dest%>" rel="noopener" target="_blank">(Lookup on QRZ.COM)</a></div>
    <br>
    <div><b>Time: </b><%=time%></div>
    <br>
    <button onclick="location.href='/'" type="button">Back to Index</button>

  </body>
</html>